.afterlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:25%;
}

.buttons{
    cursor:pointer;
    background: none;
    border: none ;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    height: 100%;
    border: 0.15em solid white;
    text-transform: uppercase;
    position:relative;
  }

.buttons:hover{
    border: 0.15em solid white;
    background-color: white;
    transition:0.5s;
    color:black;
}

h2{
    font-family:"GTAmericaThin" !important;
    font-size:150px;
    text-transform: uppercase;
    color:white;
    text-align:center;
}
