.main{
    margin:0;
    top:0;
    left:0;
    padding:0; 
    max-height:100%;
    max-width:100%;
}

.abovegamewindow{
    margin:0 auto;
    top:0%;
    position:fixed;
}

.gamewindow{
    margin:0 auto;
    height:100%;
    width:100%;
    position:fixed;
}
.gameover{
    margin:0 50%;
    width:33%;
    position:absolute;
}

.gamebg{
    width:100%;
    height:100%;
    object-fit: fill;
}

h1{
    font-size:10em;
    color:white;
}
#textwords{
    position:fixed;
    width:100%;
    height:100%;
}

@keyframes words{
    0%{
        left:-5%;
    }
    100%{
        left:100%;
    }
}
