.main{
    margin:0;
    top:0;
    left:0;
    padding:0; 
    max-height:100%;
    max-width:100%;
}

.abovegamewindow{
    margin:0 auto;
    top:0%;
    position:fixed;
}

.gamewindow{
    margin:0 auto;
    height:100%;
    width:100%;
    position:fixed;
}
.gameover{
    margin:0 50%;
    width:33%;
    position:absolute;
}

.playagainbtn{
    position:inherit;
}
.gamebg{
    width:100%;
    height:100%;
    object-fit: fill;
}

.score{
    font-size:2em;
    color:white;
    position: inherit;
    font-family:"GTAmericaThin";
}
#textwords{
    position:fixed;
    width:100%;
    height:100%;
    font-size:25px;
}
.wordd{
    transition-timing-function: linear;
}

@keyframes stage1{
    0%{
        left:-5%;
    }
    100%{
        left:100%;
    }
}
@keyframes stage2{
    0%{
        left:-5%;
    }
    75%{
        left:100%;
    }
}
@keyframes stage3{
    0%{
        left:-5%;
    }
    50%{
        left:100%;
    }
}
@keyframes stage4{
    0%{
        left:-5%;
    }
    25%{
        left:100%;
    }
}