.Menu{
    margin:0;
    top:0;
    padding:0;
}

.videodiv{
    top:50%;
    margin:auto;
    width:50%;
}

.gamebg{
    object-fit: fill;
    width:50%;
    height:50%;
    z-index:-1;
    position:fixed;
}


h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.5em;
}
.textwords{
    width:100%;
    height:100%;
    animation-name:words;
    animation-duration:10s;

}
@keyframes words{
    0% {transform:translate(0%,0%);}
    100% {transform:translate(100%,0%)}
}