.lead{
    color: white;
    margin-top: 80px; 
    font-size: 50px !important;
    font-family:"GTAmericaThin" !important;
}
.tabla::-webkit-scrollbar {
  width: 20px;
}

.tabla::-webkit-scrollbar-track {
  background:  #555; 
}

.tabla::-webkit-scrollbar-thumb {
  background: #f1f1f1; 
}

.tabla::-webkit-scrollbar-thumb:hover {
  background: rgb(175, 175, 175); 
}
.tabla{
  height:70vh;
  overflow:auto;
  display:block;
}
table {
  margin-top: 30px;
  width: 100%;
} 
.vals{
  height: 50px;
}
td {
  width: 33.33%;
  color: white;
  text-align: center;
  font-family:"GTAmericaThin" !important;
  text-transform:uppercase;
  font-size: 30px;
  padding: 10px;
}

