.bottom{
    margin-left:5%;   
    position:fixed;
    bottom:2%;
}

ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

#navbarlist li{
    display:inline;
    color:white;
    font-size:1.3em;
}
.navlinks img{
    display:none;
    opacity:0.45;
    -moz-opacity:0.45;
    filter:alpha(opacity=45);
    width: 50px;
    background-attachment: fixed;
    background-image: url("../navbar.gif");
    background-repeat: no-repeat;
    background-position: center center;
}


a{
    color:gray;
    text-decoration: none;
}

a:hover{
    color:white;
    transition:0.3s;
}

iframe{
    display:none;
}